apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: coffee-backend            # <--- What goes here?
        imagePullPolicy: Never # Important for local testing!
        ports:
        - containerPort: 5000
        env:
        - name: REDIS_HOST
          value: "redis"       # We will create this service next