apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort          # <--- Crucial line for external access!
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80